* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #000000;
}

#box1 {
    height: 200px;
    width: 200px;
    background-color: crimson;
}

#box2 {
    height: 200px;
    width: 200px;
    background-color: blue;
}