* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

#page1,
#page2,
#page3 {
    height: 100vh;
    width: 100%;
}

#move {
    background-color: #D8FF04;
    display: flex;
    padding: 3vw 0;
    overflow: hidden;
}

.marque h1 {
    font-size: 4vw;
    font-family: monospace;
    font-weight: 100;
}

.marque {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;

    transform: translateX(-100%);
}

.marque i {
    font-size: 4vw;
}