* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100vw;
    padding: 20px 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}


.string {
    height: 200px;
    width: 100%;
}